<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="robots" content="noindex,nofollow">

    <title>Fuji Xerox | Solutions &amp; Services</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->

    <link href="_assets/css/bootstrap.css" rel="stylesheet">
    <link href="_assets/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div id="page-wrapper">
    <header class="site-header">
      <div class="top">
        <h1 class="logo">Logo</h1>
        <form action="#">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
              <button type="submit">
                <i class="fas fa-search"></i>
              </button>
          </div>
        </form>
        <div class="top-nav">
          <ul>
            <li><a target="_blank" href="https://www.fujixerox.com.sg/en/Sitemap">Sitemap</a></li>
            <li><a href="https://shop.fujixerox.com.sg/" target="_blank">eShop</a></li>
            <li><a target="_blank" href="https://www.fujixerox.com.sg/en/FX-Direct">FX Direct</a></li>
          </ul>
        </div>
      </div>
      <div class="main-nav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Mega Dropdown</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">Category</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category 1
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
                    
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="text-uppercase text-white">Category 1</span>
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
                          <a href="">
                            <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                          </a>
                          <p class="text-white">Short image call to action</p>
          
                        </div>
                        <!-- /.col-md-4  -->
                      </div>
                    </div>
                    <!--  /.container  -->
          
          
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category 2
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="text-uppercase text-white">Category 2</span>
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
                          <a href="">
                            <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                          </a>
                          <p class="text-white">Short image call to action</p>
          
                        </div>
                        <!-- /.col-md-4  -->
                      </div>
                    </div>
                    <!--  /.container  -->
          
          
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category 3
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
          
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4">
                          <span class="text-uppercase text-white">Category 3</span>
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
                          <ul class="nav flex-column">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Link item</a>
                          </li>
                        </ul>
                        </div>
                        <!-- /.col-md-4  -->
                        <div class="col-md-4">
          
                          <a href="">
                            <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                          </a>
                          <p class="text-white">Short image call to action</p>
                          
                        </div>
                        <!-- /.col-md-4  -->
                      </div>
                    </div>
                    <!--  /.container  -->
          
          
                  </div>
                </li>
          
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          
          
          </nav>
      </div>
    </header>

  </div>
  <script type="text/javascript" src="_assets/js/plugins.js"></script>
  <script type="text/javascript" src="_assets/js/main.js"></script>
</body>

</html>
